<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header>
		<a href="/" class="logo"><img src="static/images/img-01.png" height="64px" width="64px" alt="IMG"></a>
		<ul>
			<li><a href="/salir">Salir</a></li>
		</ul>
	</header>
	<section class="banner"></section>
	<script type="text/javascript">
		window.addEventListener("scroll", function(){
			var header = document.querySelector("header");
			header.classList.toggle("sticky", window.scrollY > 0);
		})
	</script>
</body>
</html>